/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../material-design/material-design.css");

/* This is opened in panel - we don't want scrollbars. */
html, body { overflow: hidden !important; }

/* Header contains tabs */
header {
	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	height: 56px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	text-shadow: none;
}

/* Some specific styles for forms in tabs */
.tab-content .form-row {
	height: 38px;
	padding-top: 10px;
}
.tab-content label {
	color: rgba(0, 0, 0, 0.87);
	display: inline-block;
	width: 200px;
}
.tab-content .checkbox-group {
	left: 6px;
}

/* Footer contain just buttons */
footer {
	text-align: right;
}