/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
	font-family: Roboto;
}

/* Menu customizations */
.mdl-menu {
	padding-bottom: 0;
	padding-top: 0;
}
.mdl-menu__separator {
	background-color: rgba(0, 0, 0, 0.12);
	border: 0px none;
	height: 1px;
	margin: 6px 0 6px 0;
	margin: 0 0;
}
.mdl-menu__item i.material-icons {
	display: inline-block;
	position: relative;
	top: 6px;
	left: -4px;
}
.mdl-menu__item {
	padding-left: 20px;
}
/* Data table */
.mdl-data-table {
	width: 100%;
}
.mdl-data-table thead tr {
	background-color: #FFFFFF;
}
/* Foat menu button */
#floatMenu__button {
	position: fixed;
	opacity: 0.4;
	right: 56px;
	top: 24px;
	transition: all 0.3s ease;
}
#floatMenu__button:active, #floatMenu__button:hover {
	opacity: 1;
}
